html, body {
	background-color: transparent;
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 10px;
}

:root {
	--radius: 4px;
	--transition: 0.3s;

	/* colors */
	--darkest-gray: #111;
	--dark-gray: #333;
	--gray: #4f4f4f;
	--lighter-gray: #aaa;
	--lighter-secondary: #f4edfc;
	--light-secondary: #e6d7f7;
	--secondary: #8c5ac4;
	--lighter-primary: #e0fcff;
	--light-primary: #bee8ed;
	--primary: #53aab5;
	--error: indianred;
	--white: white;
	--transparent: transparent;
	--youtube: #FF0000;
	--twitch: #6441a5;

	/* font sizes */
	--font-sm: 1.2rem;
	--font-md: 1.4rem;
	--font-lg: 2rem;
	--font-xl: 3rem;

	/* spacing */
	--gap-sm: 0.8rem;
	--gap-md: 1.6rem;
	--gap-lg: 2.4rem;
	--gap-xl: 4rem;
}

body {
	color: var(--white);
	font-size: var(--font-md);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Atkinson Hyperlegible", sans-serif;
}

a {
	color: var(--primary);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: var(--gap-sm);
	margin: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: Raleway;
	margin: 0;
	outline: none;
}

p {
	margin: 0;
}

::selection {
	background-color: var(--primary);
}
