<html>
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Raleway:wght@700&display=swap');
      * {
        box-sizing: border-box;
      }

      .background {
        background-color: #111;
        padding: 24px;
      }

      .wrapper {
        color: white;
        font-size: 14px;
        width: 500px;
        margin: auto;
        font-family: "Atkinson Hyperlegible", Arial, sans-serif;
        background-color: #333;
        padding: 16px;
        border-radius: 4px;
      }

      .header {
        font-family: Raleway, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
      }

      .button {
        border-radius: 4px;
        color: white !important;
        text-decoration: none;
        background-color: #53aab5;
        display: inline-block;
        padding: 16px;
        text-transform: uppercase;
        margin: auto;
        cursor: pointer;
      }

      .tiny_link {
        text-align: center;
        color: #53aab5 !important;
        display: inline-block;
        padding-top: 8px;
        font-size: 12px;
      }

      .link {
        text-align: center;
        color: #53aab5 !important;
      }

      .center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="background">
      <div class="wrapper">
        <div class="header">
          Hey, did you loose your password?
        </div>
        <div class="content">
          <p>Hi {{username}}!</p>
          <p>We got a password recovery request from you. Here's the linkeroo:</p>
          <p class="center">
            <a href="{{new_password_url}}" class="button">Click here</a>
            <a href="{{new_password_url}}" class="tiny_link">{{new_password_url}}</a>
          </p>
          <p>The link only lasts for 24hs! If you're here too late, you can start the process again <a class="link" href="{{password_recovery_url}}">here</a>.</p>
          <p>If you didn't ask for a password recovery, don't worry - just delete this email!</p>
        </div>
      </div>
    </div>
  </body>
</html>
